body {
    background-color: #eeeeee;
    text-align: center;
    color: black;
    font-family: "georgia", serif;
}

h1, h2 {
    margin-top: 0.1em;
}

.well, .navbar-default {
    background-color: lightgray;
}

img {
    max-width: 100%;
    max-height: 100%;
}
