body {
    background-image: url('http://bgfons.com/upload/tile_texture3097.jpg');
    background-size: 200px 200px;
    text-align: center;
    color: white;
    font-family: "georgia", serif;
}

h1, h2 {
    margin-top: 0.1em;
}

.well {
    color: black;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.svg-container {
    padding: 10px;
}
